/* styles.css */
.navbar-custom {
    background-color: black;
}

.c-item {
    height:380px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

/* Hero */
.hero {
    margin: 5px;
    padding: 10px;
}

.hero h1 {
    margin: 20px;
}

.brands {
    margin: 20px;
    padding: 10px;
}
.footer {
    background-color: black;
}
  
.card{
      margin: 0 .5em;
      width: 180px;
      height: 280px;
      padding:3px;
      /* height: 290px; */
      border-radius: 4px;
  }

  .card img{
      width: 155px;
      height: 160px;
  }
  
 
#scrollToTopBtn {
    display: none; 
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    z-index: 99; 
    border: none; 
    outline: none;
    background-color: #007bff; 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 50%; 
}

#scrollToTopBtn:hover {
    background-color: #0056b3; 
}