@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(rgba(1, 1, 1, 0.5), rgba(0, 0, 0, 0.5)),
    url("assets/car5.jpg");
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh; 
    margin: 0;
     
}

::selection {
  color: #fff;
  background:  #c00427;
}

.container {
  width: 50%; 
  max-width: 400px; 
  background: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 20px;
  margin: 20px auto; 
  
}

.container header {
  font-size: 35px;
  font-weight: 600;
  margin: 0 0 30px 0;
  color :  #c00427;
}

.container .form-outer {
  width: 100%;
  overflow: hidden;
}

.container .form-outer form {
  display: flex;
  width: 400%;
}

.form-outer form .page {
  width: 25%;
  transition: margin-left 0.3s ease-in-out;
}

.form-outer form .page .title {
  text-align: left;
  font-size: 25px;
  font-weight: 500;
  margin-left: 30px;
}

.form-outer form .page .field {
  width: 260px; 
  height: 35px;
  margin: 25px 0; 
  margin-left: 40px;
  display:flex;
  position: relative;

}

form .page .field .label {
  position: absolute;
  top: -20px; 
  font-weight: 500;
  font-size: 14px; 
}

form .page .field input {
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 14px; 
}

form .page .field select {
  width: 100%;
  padding-left: 10px;
  font-size: 14px; 
  font-weight: 500;

}

form .page .field button {
  width: 100%;
  height: 40px; 
  border: none;
  background: #c00427;
  margin-top: 15px; 
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 14px; 
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s ease;
  margin-left: 10px;
  
}

form .page .field button:hover {
  background: #000;
}

form .page .btns button {
  margin-top: -15px!important; 
}

form .page .btns button.prev {
  margin-right: 3px;
  font-size: 14px; 
}

form .page .btns button.next {
  margin-left: 3px;
}

.container .progress-bar {
  display: flex;
  margin: 40px 30;
  user-select: none;
}

.container .progress-bar .step {
  text-align: center;
  width: 100%;
  position: relative;
}



.progress-bar .step .bullet {
  height: 25px;
  width: 25px;
  border: 2px solid #000;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  transition: 0.2s;
  font-weight: 500;
  font-size: 14px; 
  line-height: 25px;
}

.progress-bar .step .bullet.active {
  border-color:  #c00427;
  background:  #c00427;
}

.progress-bar .step .bullet span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.progress-bar .step .bullet.active span {
  display: none;
}

.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after {
  position: absolute;
  content: '';
  bottom: 11px;
  right: -51px;
  height: 3px;
  width: 44px;
  background: #262626;
}

.progress-bar .step .bullet.active:after {
  background:  #c00427;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 0.3s linear forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after {
  display: none;
}

.progress-bar .step p.active {
  color:  #c00427;
  transition: 0.2s linear;
}

.progress-bar .step .check {
  position: absolute;
  left: 50%;
  top: 70%;
  font-size: 15px;
  transform: translate(-50%, -50%);
  display: none;
}

.progress-bar .step .check.active {
  display: block;
  color: #fff;
}
.popup {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 2px solid #888;
  width: 80%; 
  max-width: 300px;
  text-align: center;
  border-radius: 10px;
}

.close {
  color: #aaaaaa;
  float: right ;
  font-size: 28px;
  font-weight: bold;
  
  
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.popup-content button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#ok-close {
  background-color:  #4CAF50;
  color: white;
}

.multiselect {
  width:200px;
 }
 .selectBox {
  position:relative;
 }
 .selectBox select {
  width: 100%;
  font-weight: bold;
 }
 .overSelect {
  position: absolute;
  left:0; right:0; top:0; bottom:0;
 }
 #checkboxes {
  display: none;
  border: 1px #dadada solid;
  position: relative; /* Ajoutez cette ligne */
  max-height: 150px; /* Ajoutez cette ligne pour activer le défilement si nécessaire */
  overflow-y: auto; /* Ajoutez cette ligne pour activer le défilement vertical si nécessaire */
 }
 #checkboxes label {
  display: block;
 }
 #checkboxes label:hover {
  background-color: #1e90ff;
 }
 